* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  width: 400px;
  height: auto;
  margin: 0px;
}

div {
  display: inline-block;
  user-select: none;
}

.widget-main {
  background-color: white;
  height: 95px;
  width: 400px;
  padding: 5px 5px;
}

.widget-no-open-tab {
  background-color: white;
  height: 65px;
  width: 400px;
  padding: 5px 5px;
  display: flex;
}

.info-bar {
  width: 388px;
  display: flex;
}

.trackName {
  width: 260px;
  height: 36px;
  user-select: none;
  cursor: pointer;
}

.songName {
  padding-left: 10px;
  padding-top: 10px;
  width: 260px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.text-no-open-tab {
  padding-left: 10px;
  padding-top: 10px;
  width: 260px;
}

i {
  padding-left: 8px;
  padding-top: 6px;
}

.control-buttons {
  width: 128px;
  height: 36px;
  display: flex;
  padding-left: 10px;
}

.no-open-tab {
  padding-top: 10px;
}

.button {
  width: 40px;
  height: 36px;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #00BCD4;
}

.seek-bar-container {
  width: 388px;
  height: 47px;
  padding-top: 6px;
}

.time-container {
  display: flex;
  padding-top: 2px;
}

.time {
  width: 194px;
  height: 25px;
}

.currentTime {
  padding-left: 10px;
}

.duration {
  text-align: right;
  padding-right: 10px;
}

.seekBar {
  width: 388px;
  cursor: pointer;
}

.draggable {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  margin-top: 1px;
}

.seekBar:hover>.draggable {
  background-color: #00BCD4;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px 10px 5px 10px;
  height: 5px;
  width: 368px;
}

progress[value]::-webkit-progress-value {
  background-color: #00BCD4;
}

progress[value]::-moz-progress-bar {
  background-color: #00BCD4;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #00BCD4;
  width: 60px;
  height: 60px;
  margin: 13px 165px;
  animation: spin 2s linear;
  animation-iteration-count: 5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-media {
  background-color: white;
  height: 46px;
  width: 400px;
  padding: 5px 5px;
  display: flex;
}